<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>
    <link th:href="@{/css/500.css}" rel="stylesheet" />
    <title>Server Error</title>
</head>
<body>
    <div>
        <h1><span>500</span></h1>
        <p>Internal server error</p>
        <a th:href="@{/}">Back to the home page <i class="fas fa-arrow-right"></i></a>
    </div>
</body>
</html>