@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background: linear-gradient(to right, #4DA0B0, #D39D38);
    font-family: Arial, Helvetica, sans-serif;
}

#update-password-form{
    width: 40%;
    height: 300px;
    box-shadow: 0px 0px 35px black;
    text-align: center;
    position: fixed;
    top: calc(45% - 150px);
    left: 30%;
}

#update-password-form h2{
    text-align: center;
    border-bottom: 2px solid black;
    width: 45%;
    padding-top: 1.5rem;
    margin: 1.5rem auto;
    padding-bottom: 0.4rem;
    font-size: 1.7rem;
}

#update-password-form h2:hover{
    text-shadow: 0px 0px 5px black;
    border-bottom: 3px solid black;
    transition: all 0.2s ease-in;
}

#update-password-form .incorrect-password{
	color: red;
	font-size: 1.1rem;
}

#update-password-form input{
    border-radius: 8px;
    border: 1px solid #115AA3;
    font-size: 1rem;
    outline: none;
    width: 100%; 
    padding: 12px 40px; 
    margin: 8px 0; 
    display: inline-block; 
    padding-left: 3.6rem;
}

.input-group{
    position: relative;
    width: 50%;
	margin: auto;
}

.input-group .input-icon{
    position: absolute;
    left: 15px;
    top: 20px;
    color: #115AA3;
    font-size: 1.2rem;
}

.input-group .input-icon::after{
    content: "";
    position: absolute;
    display: block;
    left: 15px;
    top: 0px;
    height: 45px;
    border-right: 2px solid #115AA3;
    margin-top: -0.75rem;
    margin-left: 0.8rem;
    background-color: purple;
}

.input-group > .check, .input-group > .error{
    position: absolute;
    top: 30%;
    right: 5%;
    color: #03A91D;
    font-size: 1.4rem;
}

.input-group > .error{
    color: red;
}

#update-button{
    display: block;
    margin: 1.6rem auto;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    padding: 0.5rem 0.9rem;
    border-radius: 7px;
    background-color: #115AA3;
    border: none;
    color: white;
    cursor: pointer;
}

#update-button i{
    margin-left: 0.2rem;
}

#update-button:hover{
    background-color: #5F86ED;
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 10px #115AA3;
}

#update-password-form input:focus{
    box-shadow: 0 0 20px #91ECDB;
}

/* media */

@media(max-width: 1100px){
    #update-password-form{
        width: 50%;
        left: 25%;
    }
}

@media(max-width: 900px){
    #update-password-form{
        width: 60%;
        left: 20%;
    }
}

@media(max-width: 700px){
    #update-password-form{
        width: 70%;
        left: 15%;
    }

    #update-password-form h2{
        width: 55%;
    }

    .input-group{
        width: 60%;
    }
}

@media(max-width: 500px){
    #update-password-form{
        width: 80%;
        left: 10%;
    }

    #update-password-form h2{
        width: 60%;
    }

    .input-group{
        width: 65%;
    }
}


   