<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>
    <link th:href="@{/css/forgotten-password.css}" rel="stylesheet" />
    <title>Update Password</title>
</head>
<body>

    <form action="#" th:action="@{/customers/updatePassword}" id="update-password-form" method="POST">
    	<input type="hidden" name="customerId" th:value="${customerId}" />

        <h2>Set Password</h2>

        <div class="input-group">
        	<h3 th:text="${showText}" class="incorrect-password"></h3>
            <input type="password" name="newPassword" id="" placeholder="Password">
            <div class="input-icon"><i class="fas fa-key"></i></div>
        </div>

        <button type="submit" id="update-button">Update <i class="fas fa-edit"></i></button>
    </form>
    
    <script type="text/javascript" th:src="@{/js/forgotten-password.js}"></script>
</body>
</html>