<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <link th:href="@{/css/product-upload.css}" rel="stylesheet" />
    <title>Product Upload</title>
</head>
<body>

    <form action="#" th:action="@{/products/save}" th:object="${product}" enctype="multipart/form-data" method="POST" id="upload-form">

        <h2>Upload Product</h2>

        <div class="input-section">
            <h3 class="incorrect-input"></h3>
            <input type="text" th:field="*{name}" name="" class="validate" id="productName" placeholder="Product name">
            <i class="fas fa-check-circle check"></i>
            <i class="fas fa-times-circle error"></i>
        </div>
        <div class="input-section">
            <h3 class="incorrect-input"></h3>
            <input type="text" th:field="*{price}" name="" class="validate" id="price" placeholder="Price">
            <i class="fas fa-check-circle check"></i>
            <i class="fas fa-times-circle error"></i>
        </div>

        <div class="select-section">
            <select th:field="*{category}" name="" id="">
                <optgroup label="Product Category">
                
                <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"</option>
            </optgroup>
            </select>
        </div>
        <div class="input-section">
            <h3 class="incorrect-input"></h3>
            <textarea th:field="*{productDetail.description}" placeholder="Product Description" class="validate" id="description"></textarea>
            <i class="fas fa-check-circle check"></i>
            <i class="fas fa-times-circle error"></i>
        </div>

        <div class="custom-file mb-4 mt-2 bs-group">
            <input type="file" name="file" class="custom-file-input"
                id="customFile"> <label class="custom-file-label"
                for="customFile">Choose File</label>
        </div>
        
        <div class="button-group">
            <button type="submit" id="upload-button" disabled>Upload Product <i class="fas fa-file-upload"></i></button>
        </div>
    </form>


    <script>
        $('#customFile').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>

	<script type="text/javascript" th:src="@{/js/product-upload.js}"></script>
</body>
</html>